<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta charset="utf-8">
	<title>سامانه جامع استعلام مشتری - سجام</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
<!--

Template 2075 Digital Team

http://www.tooplate.com/view/2075-digital-team

-->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type='text/css'>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type='text/css'>
	<link rel="stylesheet" href="{% static 'css/animate.min.css' %}" type='text/css'>
	<link rel="stylesheet" href="{% static 'css/et-line-font.css' %}" type='text/css'>
	<link rel="stylesheet" href="{% static 'css/nivo-lightbox.css' %}" type='text/css'>
	<link rel="stylesheet" href="{% static 'css/nivo_themes/Default/default.css' %}" type='text/css'>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type='text/css'>
	<link href="{% static 'css/googleapisfonts.css' %}" rel='stylesheet' type='text/css'>
	
		<style>
		.titles {
			display: inline;
		}
		
/*Dropdown*/
.dropdown:hover{
  display: block;
}

.dropdown > .dropdown-toggle{
  cursor:pointer;
  text-decoration: none;

}

.dropdown > .dropdown-toggle{
  overflow: auto;
}
.dropdown > .dropdown-menu > li > a{
  text-align:right;
  color : rgb(0,0,0);
}

.dropdown > .dropdown-menu > li > a:hover{
  color: orange;
}

		</style>
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- preloader section -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-circle">
       <div class="sk-circle1 sk-circle"></div>
       <div class="sk-circle2 sk-circle"></div>
       <div class="sk-circle3 sk-circle"></div>
       <div class="sk-circle4 sk-circle"></div>
       <div class="sk-circle5 sk-circle"></div>
       <div class="sk-circle6 sk-circle"></div>
       <div class="sk-circle7 sk-circle"></div>
       <div class="sk-circle8 sk-circle"></div>
       <div class="sk-circle9 sk-circle"></div>
       <div class="sk-circle10 sk-circle"></div>
       <div class="sk-circle11 sk-circle"></div>
       <div class="sk-circle12 sk-circle"></div>
    </div>
</div>

<!-- navigation section -->
<section class="navbar navbar-fixed-top custom-navbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand" style="margin-left:-50px" ><img src="{% static 'images/Sejam_Png.png' %}" alt="sejam logo" style="width:150px; border: 3px solid white; border-radius: 10px; padding:20px "></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/signup" class="smoothScroll">ثبت نام</a></li>
				<li><a href="/dologin" class="smoothScroll">ورود</a></li>
                <li><a href="/#about" class="smoothScroll">درباره ما</a></li>
				<li class="dropdown" >
                    
            <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              راهنما
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="/#about" style="color: black;">درباره ما</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/#ads" style="color: black;">سجام چیست</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/#rules" style="color: black;">قوانین و تعهدات</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/#team" style="color: black;">تیم سجام</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/#contact" style="color: black;">تماس با ما</a></li>
            </ul>
          
        </li>
<li class="dropdown" >  
           <a class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              خدمات
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><a href="/sac" style="color: black;">جست و جو</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/gcin" style="color: black;">ثبت گزارش</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/gncin" style="color: black;">ثبت مشتری با کد ملی</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/gncn" style="color: black;">ثبت مشتری با نام</a></li>
              <li role="separator" class="divider"></li>
            </ul>
        </li>
				<li><a href="/#home" class="smoothScroll">خانه</a></li>
			</ul>
		</div>
	</div>
</section>

<!-- home section -->
<section id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>با اطمینان مشتری خود را انتخاب کنید</h3>
				<img src="{% static 'images/Text03.png' %}" alt="main sejam picture" class="img-responsive">
				<hr>
				<a href="/signup" class="smoothScroll btn btn-danger">ثبت نام</a>
				<a href="/dologin" class="smoothScroll btn btn-default">ورود</a>
			</div>
		</div>
	</div>		
</section>


<!-- about section -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<h1 class="heading bold">درباره ما</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<img src="{% static "images/about-img.jpg" %}" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-12">
				<h3 class="bold" dir="rtl">سجام</h3>
				<h1 class="heading bold" dir="rtl">راهی آسان برای اعتماد به مشتریان</h1>
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist" dir="rtl">
					<li><a href="#technical_points" aria-controls="mobile" role="tab" data-toggle="tab">تعاریف فنی</a></li>
					<li><a href="#in_the_future" aria-controls="mobile" role="tab" data-toggle="tab">در آینده</a></li>
					<li><a href="#points" aria-controls="mobile" role="tab" data-toggle="tab">نکات جانبی</a></li>
					<li><a href="#how_to_run" aria-controls="mobile" role="tab" data-toggle="tab">شکل اجرائی</a></li>
					<li class="active"><a href="#about" aria-controls="design" role="tab" data-toggle="tab">معرفی</a></li>
				</ul>
				<!-- tab panes -->
				<div class="tab-content" style="padding:0; margin:0;">
					<div role="tabpanel" class="tab-pane active" id="about" dir="rtl" style="padding:0; margin:0;">
						<p>هدف طرح :</p>
						<p>پیشگیری از بدحسابی، در بازار، از طریق شناسائی سوابق افراد بدحساب .</p>

						<p style="color: yellow;">مخاطب (استفاده کنندگان از مزایا) :</p>
						<p style="color: yellow;">کلیّه کسبه و بازاریان . از خرده‌فروش تا عمده‌فروش، و بُنَکدار. و در نهایت، بانک‌ها و موسسات مالی .</p>

						<p>شکل اجرائی :</p>
						<p>سایت و اپلیکیشن موبایل.(سازگار با انواع تبلت و گوشی‌های هوشمند) در حالت آنلاین و آفلاین .</p>

						<p style="color: yellow;">روش جمع‌آوری اطلاعات :</p>
						<p style="color: yellow;">از طریق خود استفاده کنندگان از سایت (در حین ثبت سوابق شخصی کسب و کار خودشان) .</p>

						<p>دلیل(انگیزه) استقبال مخاطبان :</p>
						<p>ساده، و رایگان بودن خدمات اصلی سایت(و اپلیکیشن موبایل). باضافه ارائه خدمات حسابداری پایه</p>

						<p style="color: yellow;">تبلیغات و اطلاع‌رسانی (جذب مخاطبان) :</p>
						<p style="color: yellow;">آگهی در نشریات، باضافه کلیّه شبکه‌های اجتماعی فعّال و پر مخاطب نظیر تلگرام ، اینستاگرام ، آپارات و . . .
						ایجاد انگیزه و مشوق‌های مناسب برای دعوت کاربران جدید(تبلیغات شبکه‌ای)</p>

						<p>خدمات تکمیلی طرح :</p>
						<p>ارائه خدمات پیشرفته و تکمیلی به مشتریان ویژه (نظیر حسابداری پایه یا گزارشات ویژه و اپلیکیشن پیامکی)</p>

						<p style="color: yellow;">نام تجاری :</p>
						<p style="color: yellow;">سامانه جامع استعلام مشتریان ( سجام )</p>

						<p>آدرس سایت :</p>
						<p>WwW.SamaneEstelam.Com </p>

						<p style="color: yellow;">پیش‌بینی جذب مخاطب :</p>
						<p style="color: yellow;">ثبت حداقل یک میلیون رکورد اطلاعاتی، از طریق جذب حدود صدهزار کاسب (در شش‌ماه اول)</p>

					</div>
					<div role="tabpanel" class="tab-pane" dir="rtl" id="how_to_run">
						<p>هر کاسب با تبلیغات گوناگون ترغیب به ثبت نام در سایت و استفاده از خدمات آن می‌شود .</p>
						<p style="color: yellow;">کاسب مشخصات دقیق خود را در سایت ثبت می‌نماید. </p>
						<p>مدیریت سایت ، از طرق ممکن ، هویت واقعی کاسب را تایید و پروفایل وی را فعال می‌کند.</p>
						<p style="color: yellow;">بعد از تایید، کاسب میتواند مشخصات و مقدار بدهی مشتریان بدهکار (بد حساب و خوش‌حساب) خود را در سایت ثبت نماید و هر زمان که بخواهد گزارشی از سوابق ثبت شده خودرا به صورت سابقه بانک اطلاعاتی(مثلا: ExCell) یا گزارش چاپی دریافت نماید، یا نسبت به ویرایش سوابق ثبت شده توسط خودش اقدام نماید.</p>
						<p>هر کاسب می‌تواند با درج مشخصات و ترجیحا کدملّی مشتری جدید، وجود، یا عدم وجود سابقه بد حسابی او را که توسط کسبه دیگر ثبت شده‌است، (با تفکیک: بدهی عادی، یا بدحساب و تاخیر در پرداخت) بدون جزئیات دریافت نماید.</p>
						<p style="color: yellow;">مثلاً: سه مورد ثبت شده، میانگین مبلغ بین یک تا دو میلیون تومان میانگین تاخیر شش ماه</p>
						<p>یـــــا: یک مورد بدهی بدون تاخیر کمتر از ۵۰۰ هزار تومان</p>
						 <p style="color: yellow;">و چهار مورد تاخیر بین دو تا سه میلیون تومان با میانگین یکسال تاخیر</p>
						<p>یـــا: ‌هر نوع گزارش مختصر دیگر شبیه به این‌ها نهایتا شامل شهر محل ثبت</p>
					</div>
					<div role="tabpanel" class="tab-pane" dir="rtl" id="points">
						<p>برنامه و سایت نظیر نوعی حسابداری ساده برای کاسب ، عمل ‌می‌کند.</p>
						<p style="color: yellow;">زیرا اغلب کسبه، یا حسابداری استاندارد و منظّمی ندارند، و آن‌ها که حسابداری هم دارند، اکثراً تنها استفاده عملی‌اشان از نرم‌افزار یا دفاتر حسابداری، همان لیست مشتریان و بدهی آنها و سررسید پرداخت‌ها است. </p>
					</div>
					<div role="tabpanel" class="tab-pane" dir="rtl" id="in_the_future">
						<p>به ترتیب اولویت:</p>
						<p style="color: yellow;">نرم افزار آفلاین برای زمانی که دسترسی به اینترنت نیست و کاسب قصد دسترسی به سوابق خود را دارد.</p>
						<p>درج عکس مشتریان و کسبه </p>
						<p style="color: yellow;">اپلیکیشن موبایل برای دسترسی به سایت و کلیه خدمات آن (به‌جز ثبت‌نام کاسب)</p>
						<p>امکانات حسابداری استاندارد برای مشتریان ویژه (آنلاین و آفلاین)</p>
						<p style="color: yellow;">امکان ارتقای نرم‌افزار آفلاین و بانک اطلاعاتی آن به حسابداری استاندارد (آنلاین و آفلاین)</p>
						<p>امکان سرویس دادن به بانک‌ها با روش (ثبت‌نام و استعلام) متفاوت از کسبه .</p>
					</div>
					<div role="tabpanel" class="tab-pane" dir="rtl" id="technical_points">
						<p>رسپانسیو بودن کامل سایت و سازگاری کامل با انواع گوشی و تبلت .</p>
						<p style="color: yellow;">امکان ثبت نام و  استفاده به صورت استاندارد ،‌ بدون نیاز به نصب پلاگ‌این های نامتعارف .</p>
						<p>ثبت‌نام استاندارد با تایید ایمیل به صورت لینک فعال‌سازی و تایید خودکار شماره موبایل با ارسال SMS .</p>
						<p style="color: yellow;">امکان تعریف نام کاربری یا بازیابی کلمه عبور فراموش شده. </p>
						<p>امکان گزارش‌گیری چاپی یا خروجی به صورت فایل.</p>
						<p style="color: yellow;">قابلیت انتقال بانک اطلاعاتی فردی هر کاسب به سیستم خودش (حداقل به صورت فایل اکسل و ترجیحا قابل استفاده از همه امکانات به صورت آفلاین)</p>
						<p>قابلیت مدیریت کاربران و تایید یا تعلیق هر یک، یا مشاهده و ویرایش کلیه اطلاعات از طریق مدیران.</p>
						<p style="color: yellow;"> باضافه سیستم پشتیبانی درج و پیگیری تیکت (پیشنهادات و انتقادات). </p>
						<p>درگاه پرداخت بانکی برای ارتقای سطح کاربری به کاربر ویژه و تعریف خدمات ویژه در سطوح مختلف . </p>
						<p style="color: yellow;">قابلیت درج گزارش تخلف در ثبت اطلاعات. برای رسیدگی توسط مدیران سایت. </p>
						<p>امکان ثبت‌نام آزاد(غیر کاسب) به‌عنوان شاکی احتمالی </p>
						<p style="color: yellow;">بانک اطلاعاتی بر اساس مای‌اسکیواِل (با امنیت بالا) با امکان گزارشگیری به فورمت اکسل</p>
						<p>در طراحی اپلیکیشن ، استعلام سوابق به ساده‌ترین شکل ممکن برای کاربران فعال باشد. </p>
						<p style="color: yellow;">امکان استفاده از اپلیکیشن بدون اینترنت (از طریق پیامک) </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- ads section -->
<section id="ads">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<h1 class="heading bold" align="center">سجام چیست</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.9s">
				<pre style="border:0; text-align: center; background: transparent; font-size: 15px; color: black;">
دیگر نیازی به گرو گذاشتن ریش و سبیل نیست. با سابقه درخشان در سامانه <span style="color: purple; font-weight: bold;">سجام</span>

آدم خوش‌حساب شریک مال مردم است. با ثبت‌نام در سامانه استعلام <span style="color: purple; font-weight: bold;">سجام</span> از وضعیت معاملاتی شرکای خود باخبر شوید

اگر می‌خواهید از سابقه معاملات مشتری خود باخبر شوید؟ یک سری به <span style="color: purple; font-weight: bold;">سجام</span> بزنید

با عضویت و ثبت اطلاعات خود ،‌ از سابقه خوش‌حسابی ، و یا بدحسابی مشتری خود باخبر شوید

کسبه محترم با ثبت اطلاعات افراد بدحساب در سامانه <span style="color: purple; font-weight: bold;">سجام</span> ، ترمز بدحسابی را برای این افراد در تمام کشور بکشید

برای پی بردن به خوش‌حسابی یا احیانا بدحسابی مشتری خود یک سر به سامانه <span style="color: purple; font-weight: bold;">سجام</span> بزنید

با افتتاح سامانه <span style="color: purple; font-weight: bold;">سجام</span> افراد بدحساب از گردونه معاملات حذف می‌گردند. و اقتصادی سالم در اختیار بازار قرار می‌گیرد

سامانه <span style="color: purple; font-weight: bold;">سجام</span> ،‌اقدامی نو در احیاء و پرتوان نمودن اقتصاد مقاومتی

معاملاتی مطمئن‌تر با برخورداری از خدمات سامانه <span style="color: purple; font-weight: bold;">سجام</span>

سامانه <span style="color: purple; font-weight: bold;">سجام</span> ، ترمز بدحسابی را در معاملات کشید

با برخورداری از خدمات سامانه <span style="color: purple; font-weight: bold;">سجام</span> با خیالی آسوده معامله کنید
				</pre>
			</div>
		</div>
	</div>
</section>
<!-- Rules section -->

<section id="rules" style="background-color: rgb(100, 100, 100);">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<h1 class="heading bold" style="color: white;">قوانین و تعهدات</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-12 col-sm-6">
				<div style="color: white;" dir="rtl" align="right">
					<p align="center">بسمه تعالي</p>
					<p>بدینوسیله اینجانب با کد ملی و آدرس  ثبت شده در فایل اطلاعاتی ام در کمال سلامت و با اطلاع به موارد زیر  مسئولیت حقوقی  هر گونه استفاده غیر مجار  را در کلیه اطلاعات وارده و یا گرفته شده از سامانه سجام را به همراه کلیه مسئولیت های حقوقی و حقیقی  مذکور را بر  عهده می گیرد.
 					و اعلام میدارد که محتوای تمام پیام های ارسالی با هریک از اصول زیر مطابقت خواهد داشت و باتوجه به اینکه اطلاعات وارده توسط اینجانب باید قابل استناد در دادگاه و مراجع قانونی باشد متعهد میگردم که در نگهداری رمز ورود وکاربری  به سامانه کوشا بوده و در صورت مفقود و یا سرقت سریعا نسبت به مسدود نمودن حساب اقدام نمایم ،و مسئولیت آن به عهده اینجانب میباشد.
					وهمچنین در ورود اطلاعات به سامانه نکات ذیل را رعایت و در صورت عدم رعایت کلیه مسئولیت آن را پذیرا باشم. ونسبت به مصادیق جرائم رایانه ای که در پایان این تعهد نامه نوشته شده است اطلاع کامل داشته و ار آن تخلف ننمایم و هر گونه تخطی از قانون یادشده به عهده اینجانب می باشد.</p><br>
					<p>1- اطلاعات وارده با اصول و مباني دين اسلام و قانون اساسي جمهوري اسلامي ايران مغايرت نداشته و در تضاد نباشد</p>
					<p>2- باعث تشويش اذهان عمومي نگردد.</p>
					<p>3 - مخل نظم و آرامش حاكم بر جامعه نباشد.</p>
					<p>4 - به اخلاق حسنه حاكم بر جامعه آسيب نرساند.</p>
					<p>5 - با سياست‌هاي فرهنگي، اجتماعي و اقتصادي كشور مغايرت نداشته باشد.</p>
					<p>6 - مغایر با اصول انتخاباتی و قوانین حاکم بر جامعه نباشد. </p>
					<p>7 - عدم تحريك ، تشويق ، ترغيب ، تهديد یا دعوت به فساد و فحشاء و ارتکاب جرایم منافی عفت یا انحرافات جنسی. ( بند ب ماده 15 قانون جرائم رایانه ای و ماده 639 قانون مجازات اسلامی )</p>
					<p>8 - عدم اشاعه فحشاء و منكرات. ( بند2 ماده6 قانون مطبوعات )</p>
					<p>9 - عدم انتشار ، توزیع و معامله محتواي خلاف عفت عمومی. ( مبتذل و مستهجن ) ( بند 2 ماده 6 قانون مطبوعات و ماده 14 قانون جرائم رایانه ای )</p>
					<a id="expandRules" style="color: white; font-weight: bold;">ادامه</a>
				</div>
				<div style="color: white; display: none;" dir="rtl" align="right" id="showRules">
					<p>10 - عدم اهانت به امام خميني ( ره ) و تحريف آثار ايشان ( ماده 514 قانون مجازات اسلامی )</p>
					<p>11 - عدم اهانت به مقام معظم رهبري ( امام خامنه ای ) و سایر مراجع مسلم تقليد ( بند 7 ماده 6 قانون مطبوعات )</p>
					<p>12 - عدم انتشار محتوا عليه اصول قانون اساسي. ( بند 12 ماده 6 قانون مطبوعات )</p>
					<p>13 - عدم فاش نمودن و انتشار غیرمجاز اسرار نيروهاي مسلح. ( بند 6 ماده 6 قانون مطبوعات )</p>
					<p>14 - عدم فاش نمودن و انتشار غیرمجاز نقشه و استحكامات نظامي. ( بند 6 ماده 6 قانون مطبوعات )</p>
					<p>15 - عدم انتشار هرگونه محتوا با هدف ترغیب و تشویق مردم به تحریم خرید ویا فروش کا لاو یا کاهش مشارکت  فعالیتهای مردمی و در انتخابات (بند 3 و 8 ماده 66 قانون انتخابات مجلس شورای اسلامی و ماده 46 آیین نامه اجرایی آن)</p>
					<p>16 - مشترک موظف است براي اعلان بدهی های بالای0 5 ميليون   با مدیریت هما هنگی نمايد.</p>
					<p>17 - مشترک موظف است برای حفظ شان مسئولین نظام بدون ذکر عنوان شغلی  وتحت عنوان فقط نام و نام خانوادگی  به میزان خوش حسابی و یا یدحسابی مشتری اعلان نماید.</p>
					<p>18- مشترک موظف است فقط از  نام تجاری و یا فروشگاه  و یا صنف خود جهت اعلان وضعیت حساب مشتری  استفاده نماید و مجاز به استفاده تبلیغات و یا هرگونه تشویق  به مصرف کالای خاصی  نمی باشد.</p>
					<p>19- مشترک سامانه در توضیحات وضعیت معامله مجاز به هیچگونه  اهانت و یا توهین نبوده و در صورت استفاده، حساب کاربری اشان بلوکه و به مقامات قضا یی معرفی میگردند </p>
					<p>20 - مشترک در ارسال پيام‌ها نبايد از عنوانهای هاي فريبنده  جهت مخفي نمودن هويت فرستنده استفاده نمايد و همچنين نبايد از عناوين موضوعي اشتباه يا گمراه‌كننده استفاده نمايد.</p>
					<p>21 - مشترک مسئولیت  بررسی و  تایید  احراز  هویت  تمامی  مشتریان و معاوله کنندگان را برعهده دارد و در صورت بروز  هرگونه  مشگل  کلیه عواقب و آثار احتمالی برمشترک سامانه بوده و  تضمین می نماید خسارات وارده را جبران خواهد نمود.</p>
					<p>22 - نظر به ابلاغیه شورای عالی امنیت کشور مبنی بر تمهیدات و تدابیر لازم در خصوص جلوگیری از اقدامات تفرقه افکنانه و اهانت به مقدسات اهل سنت ،و کلیه اقلیتهای مذهبی مقتضی است نسبت به انجام تمهیدات و تدابیر لازمه  توسط مشترک سامانه جهت کنترل و ممیزی محتوا و جلوگیری از ارسال محتوای پیامهای ارسالی و سرویس های سامانه مربوط جلوگیری  شود </p>
					<p>23- مشترک سامانه متعهد  می گردد  در برابر هرگونه اعتراض و ادعای احتمالی مشترکین یا اشخاص ثالث در خصوص محتوای اطلاعات ارسالی یا پیامدهای ناشی از نشر آنها پاسخگو بوده و  در برابر مراجع مربوطه و دستگاههای بازرسی و نظارتی متعهد و مسئول می باشد و همچنین مسئولیت ممیزی محتوای پیام های ارسالی در سامانه  را بر عهده دارد.</p>
					<p>اینجانب مسئولیت اجرای تمام فهرست مصادیق محتوای موضوع ماده 21 قانون جرائم رایانه ای را به عهده می گیرم و تعهد می کنم تمام موارد را به شرح ذیل رعایت نمایم.</p>
					<p>فهرست مصاديق محتوای مجرمانه موضوع ماده 21 قانون جرايم رايانه اي</p>
					<p> الف ) محتوا علیه عفت و اخلاق عمومی</p>
					<p>1. اشاعه فحشاء و منكرات. ( بند2 ماده6 قانون مطبوعات ) 	</p>
					<p>2. تحريك ، تشويق ، ترغيب ، تهديد یا دعوت به فساد و فحشاء و ارتکاب جرایم منافی عفت یا انحرافات جنسی. ( بند ب ماده 15 قانون جرائم رایانه ای و ماده 639  قانون مجازات اسلامی )   </p>
					<p>3. انتشار ، توزیع و معامله محتواي خلاف عفت عمومی. ( مبتذل و مستهجن )  ( بند 2 ماده 6 قانون مطبوعات و ماده 14 قانون جرائم رایانه ای ) </p>
					<p>4. تحريك ، تشويق ، ترغيب ، تهديد يا تطميع افراد به دستيابي به محتويات مستهجن و مبتذل. (  ماده 15 قانون جرایم رایانه ای ) </p>
					<p>5. استفاده ابزاري از افراد ( اعم از زن و مرد ) در تصاوير و محتوا ، تحقير و توهين به جنس زن ، تبليغ تشريفات و تجملات نامشروع و غيرقانوني. ( بند 10 ماده6 قانون مطبوعات )</p>
					<p> ب ) محتوا علیه مقدسات اسلامی</p>
					<p>1. محتواي الحادي و مخالف موازين اسلامي ( بند1ماده6 قانون مطبوعات )</p>
					<p>2. اهانت به دين مبين اسلام و مقدسات آن ( بند 7 ماده 6 قانون مطبوعات و ماده 513 قانون مجازات اسلامی )</p>
					<p>3. اهانت به هر یک از انبیاء عظام یا ائمه طاهرین ( ع ) یا حضرت صدیقه طاهره ( س ) (  ماده 513  قانون مجازات اسلامی )</p>
					<p>4. تبليغ به نفع حزب گروه يا فرقه منحرف و مخالف اسلام ( بند 9 ماده 6 قانون مطبوعات ) </p>
					<p>5. نقل مطالب از نشریات و رسانه ها و احزاب و گروه هاي داخلی و خارجی منحرف و مخالف اسلام به نحوي كه تبليغ از آنها باشد. ( بند 9 ماده 6 قانون مطبوعات )</p>
					<p>6. اهانت به امام خميني ( ره ) و تحريف آثار ايشان ( ماده 514  قانون مجازات اسلامی )</p>
					<p>7. اهانت به مقام معظم رهبري ( امام خامنه ای ) و سایر مراجع مسلم تقليد ( بند 7 ماده 6 قانون مطبوعات )</p>
					 <p>ج ) محتوا علیه امنیت و آسایش عمومی</p>
					<p>1. تشكيل جمعيت ، دسته ، گروه در فضای مجازی ( سایبر ) با هدف برهم زدن امنيت كشور. ( ماده 498  قانون مجازات اسلامی )</p>
					<p>2. هر گونه تهديد به بمب گذاري. ( ماده 511  قانون مجازات اسلامی  )</p>
					<p>3. محتوايي كه به اساس جمهوري اسلامي ايران لطمه وارد كند. ( بند 1 ماده 6 قانون مطبوعات  )</p>
					<p>4. انتشار محتوا عليه اصول قانون اساسي. ( بند 12 ماده 6 قانون مطبوعات )  </p>
					<p>5. تبليغ عليه نظام جمهوري اسلامي ايران. ( ماده 500  قانون مجازات اسلامی  ) </p>
					<p>6. اخلال در وحدت ملی و ايجاد اختلاف مابين اقشار جامعه به ويژه از طريق طرح مسائل نژادي و قومي. ( بند 4 ماده 6 قانون مطبوعات )</p>
					<p>7. تحريك يا اغواي مردم به جنگ و كشتار يكديگر. ( ماده 512  قانون مجازات اسلامی  )</p>
					<p>8. تحريك نيروهاي رزمنده يا اشخاصي كه به نحوي از انحا در خدمت نيروهاي مسلح هستند به عصيان ، فرار، تسلم يا عدم اجراي وظايف نظامي. ( ماده 504  قانون مجازات اسلامی  )</p>
					<p>9. تحريص و تشويق افراد و گروه ها به ارتكاب اعمالي عليه امنيت ، حيثيت و منافع جمهوري اسلامي ايران در داخل يا خارج از كشور. ( بند 5 ماده 6 قانون مطبوعات )</p>
					<p>10. تبليع به نفع گروه ها و سازمانهاي مخالف نظام جمهوري اسلامي ايران ( ماده 500 ق م.ا )</p>
					<p>11. فاش نمودن و انتشار غیرمجاز اسناد و دستورها و مسايل محرمانه و سري دولتي و عمومي. ( بند 6 ماده 6 قانون مطبوعات و مواد 2و3 ‌قانون مجازات انتشار و افشاي اسناد محرمانه و سري دولتي و ماده 3 قانون جرائم رایانه ای )</p>
					<p>12. فاش نمودن و انتشار غیرمجاز اسرار نيروهاي مسلح. ( بند 6 ماده 6 قانون مطبوعات )</p>
					<p>13. فاش نمودن و انتشار غیرمجاز نقشه و استحكامات نظامي. ( بند 6 ماده 6 قانون مطبوعات )</p>
					<p>14. انتشار غیرمجاز مذاكرات غيرعلني . ( بند 6 ماده 6 قانون مطبوعات )</p>
					<p>15. انتشار بدون مجوز مذاكرات محاكم غيرعلني دادگستري و تحقيقات مراجع قضايي. ( بند 6 ماده 6 قانون مطبوعات )</p>
					<p>16. انتشار محتوای که از سوی شورای عالی امنیت ملی منع شده باشد. </p>
					<p> د ) محتوا علیه مقامات و نهادهای دولتی و عمومی</p>
					<p>1. اهانت و هجو نسبت به مقامات ، نهادها و سازمان هاي حکومتی و عمومي. ( بند 8 ماده 6 قانون مطبوعات و مواد 609 و 700  قانون مجازات اسلامی )</p>
					<p>2. افترا به مقامات ، نهادها و سازمان های حکومتی و عمومي. ( بند 8 ماده 6 قانون مطبوعات و 697  قانون مجازات اسلامی )</p>
					<p>3. نشراكاذيب و تشويش اذهان عمومي علیه مقامات ، نهادها و سازمانهای حکومتی. ( بند 11 ماده6 قانون مطبوعات و 698  قانون مجازات اسلامی ) </p>
					<p>4. جعل پایگاه های اینترنتی بانک ها ، سازمان ها و نهادهای دولتی و عمومی (مواد 6 و 7 قانون جرایم رایانه ای مصوب سال 1388) </p>
					 <p>ه ) محتوای که برای ارتکاب جرایم رایانه ای به کار می رود ( محتوا مرتبط با جرایم رایانه ای )</p>
					<p>1. انتشار يا توزيع و در دسترس قرار دادن يا معامله داده ها يا نرم افزارهایي كه صرفاً براي ارتكاب جرايم رايانه اي به كار مي رود. ( ماده 25 قانون جرائم رایانه ای )</p>
					<p>2. فروش انتشار يا در دسترس قرار دادن غيرمجاز گذرواژه ها و داده هايي كه امكان دسترسي غيرمجاز به داده ها يا سامانه هاي رايانه اي يا مخابراتي دولتي يا عمومي را فراهم مي كند. ( ماده 25 قانون جرائم رایانه ای )</p>
					<p>3. انتشار يا در دسترس قرار دادن محتويات آموزش دسترسي غيرمجاز ، شنود غيرمجاز ، جاسوسي رايانه اي ، تحريف و اخلال در داده ها يا سيستم هاي رايانه اي و مخابراتي. ( ماده 25 قانون جرائم رایانه ای )</p>
					<p>4. آموزش و تسهیل ساير جرايم رايانه اي. ( ماده 21 قانون جرائم رایانه ای )</p>
					<p>5. انتشار فيلترشكن ها و آموزش روشهاي عبور از سامانه هاي فيلترينگ. ( بند ج ماده 25 قانون جرائم رایانه ای )</p>
					<p>6. انجام هرگونه فعاليت تجاري و اقتصادي رايانه اي مجرمانه مانند شركت هاي هرمي. ( قانون اخلال در نظام اقتصادی کشور و سایر قوانین )</p>
					<p>7. ایجاد مراکز قمار در فضای مجازی (مواد 705، 708 و 710 قانون مجازات اسلامی) </p>
					<p> و ) محتوای که تحریک ، ترغیب ، یا دعوت به ارتکاب جرم می کند ( محتوای مرتبط با سایر جرایم )</p>
					<p>1.	انتشار محتوای حاوی تحریک ، ترغیب ، یا دعوت به اعمال خشونت آمیز و خودکشی. ( ماده 15 قانون جرائم رایانه ای )</p>
					<p>2. تبليغ و ترويج مصرف مواد مخدر ، مواد روان گردان و سيگار. ( ماده 3 قانون جامع كنترل و مبارزه ملي با دخانيات 1385 )</p>
					<p>3. درج پیوند (لینک) یا تبلیغ تارنماهای فیلتر شده یا باز انتشار محتوای مجرمانه نشریات توقیف شده و رسانه های وابسته به گروه‌ها و جریانات منحرف و غیر قانونی.</p>
					<p>4. تشويق تحریک و تسهیل ارتكاب جرائمي كه داراي جنبه عمومي هستند از قبیل اخلال در نظم ،‌ تخريب اموال عمومي ، ارتشاء ، اختلاس ،كلاهبرداري ، قاچاق مواد مخدر، قاچاق مشروبات الكلي و غيره. ( ماده 126  قانون مجازات اسلامی )</p>
					<p>5. تبليغ و ترويج اسراف و تبذير. ( بند 3 ماده 6 قانون مطبوعات ) </p>
					<p>6. فروش، تبلیغ، توزیع و آموزش استفاده از تجهیزات دریافت از ماهواره (ماده 1 قانون ممنوعیت بکارگیری تجهیزات دریافت ماهواره مصوب 25/11/1373) </p>
					<p> ز ) محتوا مجرمانه مربوط به امور سمعی و بصری و مالکیت معنوی</p>
					<p>1. انتشار و سرويس دهي بازي هاي رايانه اي داراي محتواي مجرمانه. ( مواد مختلف  قانون مجازات اسلامی و قانون جرائم رایانه ای )</p>
					<p>2. معرفی آثار سمعی و بصری غیرمجاز به جای آثار مجاز. ( ماده 1 قانون نحوه مجازات اشخاصی که در امور سمعی و بصری فعالیت غیرمجاز دارند ) </p>
					<p>3. عرضه تجاری آثار سمعی و بصری بدون مجوز وزارت فرهنگ و ارشاد اسلامی ( ماده 2 قانون نحوه مجازات اشخاصی که در امور سمعی و بصری فعالیت غیر مجاز دارند ) </p>
					<p>4. تشویق و ترغیب به نقض حقوق مالکیت معنوی ( ماده 1 قانون حمایت از حقوق پدید آورندگان نرم افزار های رایانه ای و ماده 74 قانون تجارت الکترونیکی )</p>
					<p> ح) محتوای مجرمانه مرتبط با انتخابات مجلس شورای اسلامی </p>
					<p>1. انتشار هرگونه محتوا با هدف ترغیب و تشویق مردم به تحریم و یا کاهش مشارکت در انتخابات (بند 3 و 8 ماده 66 قانون انتخابات مجلس شورای اسلامی و ماده 46 آیین نامه اجرایی آن)</p>
					<p>2. انتشار هرگونه ادعای غیرواقع مبنی بر توقف انتخابات و یا دعوت به تجمع اعتراض‌آمیز‌، اعتصاب‌، تحصن و هر اقدامی که به نحوی موجب اخلال در امر انتخابات گردد (بند 8 ماده 66 قانون انتخابات مجلس شورای اسلامی)</p>
					<p>3. انتشار و تبلیغ علائم تحریم انتخابات گروه‌های ضد‌انقلاب و معاند (ماده 500 قانون مجازات اسلامی)</p>
					<p>4. انتشار هجو یا هجویه و یا هرگونه محتوای توهین‌آمیز در فضای مجازی علیه انتخابات (ماده 700 قانون مجازات اسلامی و بند 8 ماده 66 قانون انتخابات مجلس شورای اسلامی)</p>
					<p>5. انتشار هرگونه مطلب خلاف واقع مبنی بر انصراف گروه‌های قانونی از انتخابات (ماده 64 قانون انتخابات مجلس شورای اسلامی)</p>
					<p>6. استفاده از سایت‌ها و وبلاگ‌های رسمی نهادها و دستگاه‌های دولتی جهت بهره‌برداری در تبلیغات نامزدهای انتخاباتی.</p>
					<p>** شایان ذکر است تمامی شرکت‌ها‌، موسسات‌، شهرداری‌ها‌، سازمان‌ها و نهادهایی که قسمتی از دارایی آنها جزء بودجه و اموال عمومی است مشمول این ماده می‌شوند. (ماده 59 قانون انتخابات مجلس شورای اسلامی)</p>
					<p>7. درج محتوای تبلیغاتی نامزدهای انتخاباتی خارج از مدت زمان مقرر شده برای فعالیت انتخاباتی. (ماده 56 قانون قانون انتخابات مجلس شورای اسلامی و ماده 45 آیین‌نامه اجرایی آن)</p>
					<p>8. انتشار هرگونه محتوا در جهت تحریک‌، ترغیب‌، تطمیع و یا تهدید افراد به خرید و فروش آراء‌، رای دادن با شناسنامه جعلی و شناسنامه دیگری‌، جعل اوراق تعرفه‌، رای دادن بیش از یک‌بار و سایر روش‌های تقلب در رای‌گیری و شمارش آراء. (ماده 66 قانون انتخابات مجلس شورای اسلامی و ماده 126 قانون مجازات اسلامی)</p>
					<p>9. انتشار هرگونه محتوا جهت ایجاد رعب و وحشت برای رای‌دهندگان یا اعضاء شعب. (بند 16 ماده 66 قانون انتخابات مجلس شورای اسلامی)</p>
					<p>10. استفاده ابزاری از تصاویر زنان برای تبلیغات انتخاباتی و یا عدم رعایت شئونات اسلامی در انتشار تصاویر مربوط به زنانی که نامزد انتخاباتی می‌باشند. (بند 10 ماده 6 قانون مطبوعات)</p>
					<p>11. انتشار هرگونه محتوا در جهت توهین‌، افترا و نشر اکاذیب با هدف تخریب نظام‌، قوای سه‌گانه‌، سازمان‌های حکومتی و نهادهای اجرایی و نظارتی انتخابات به منظور بهره‌برداری انتخاباتی. (مواد 500 ، 698 ، 609 قانون مجازات اسلامی و بند 8 ماده 6 قانون مطبوعات و ماده 18 قانون جرایم رایانه‌ای)</p>
					<p>12. انتشار هرگونه محتوا و مکاتبات دارای طبقه‌بندی (محرمانه و سری) مرتبط با انتخابات‌.(ماده 3 قانون مجازات انتشار و افشای اسناد محرمانه و سری دولتی و ماده 3 قانون جرایم رایانه‌ای و بند 6 ماده 6 قانون مطبوعات)</p>
					<p>13. انتشار اخبار کذب از نتایج بررسی صلاحیت‌ها‌، شمارش آراء‌، ادعاهای بی‌اساس پیرامون تقلب در انتخابات یا مخدوش بودن انتخابات بدون دلیل و مدرک. (مواد 697 و 698 قانون مجازات اسلامی و بند 8 ماده 66 قانون انتخابات مجلس شورای اسلامی)</p>
					<p> ط ) محتوای مجرمانه مرتبط با انتخابات ریاست جمهوری </p>
					<p>1.  انتشار هرگونه محتوا به منظور ترغیب و تشویق مردم به تحریم و یا کاهش مشارکت در انتخابات ، تجمع اعتراض آمیز بدون مجوز ، اعتصاب ، تحصن ، ادعای غیرواقع مبنی بر توقف انتخابات و یا هر اقدامی که به نحوی موجب اخلال در امر انتخابات ریاست جمهوری گردد.(بند 7 ماده 33 قانون انتخابات ریاست جمهوری و بند5 ماده 6 و 25 قانون مطبوعات ).</p>
					<p>2. تشویش اذهان عمومی ، سیاه نمایی و بیان مطالب خلاف واقع علیه کشور ،  ایجاد اختلافات مابین اقشار جامعه بویژه از طریق طرح مسائل قومی و نژادی ، انتشارهرگونه  نتایج نظرسازی و نظرسنجی کاذب در خصوص انتخابات و نامزدهای انتخابات ریاست جمهوری(بند7 مادة 33 قانون انتخابات ریاست جمهوری– مواد500 و  698 قانون مجازات اسلامی – بند 4 مادة 6 قانون مطبوعات- مصوبه شورایعالی امنیت ملی)</p>
					<p>3.   انتشار و تبلیغ علائم تحریم انتخابات (ماده 500 قانون مجازات اسلامی).</p>
					<p>4. انتشار هجو یا هجویه و یا هر گونه محتوای توهین آمیز یا تخریب در فضای مجازی علیه انتخابات و نامزدهای انتخابات ریاست جمهوری ( ماده 700 قانون مجازات اسلامی) .</p>
					<p>5. انتشار هرگونه مطلب ،علیه نامزدهای انتخاباتی و یا انتشارمطالبی خلاف واقع دال بر انصراف گروه یا نامزدهای انتخابات ریاست جمهوری (مواد 74 و 91 قانون انتخابات ریاست جمهوری اسلامی). </p>
					<p>6. استفاده غیرمجاز از سایت ها و وبلاگ های متعلق به دستگاه های دولتی و مؤسسات و نهادهایی که تمام یا  بخشی از دارایی و بودجه آنها از اموال عمومی است ، به منظور تبلیغ له یا علیه نامزدهای انتخابات ریاست جمهوری (مواد62 ، 68 و 88 قانون انتخابات ریاست جمهوری).</p>
					<p>7. انتشار محتوای تبلیغاتی نامزدهای ریاست جمهوری در فضای مجازی خارج از مدت زمان مقرر برای فعالیت انتخاباتی (مواد 66 و 67 قانون انتخابات ریاست جمهوری ).</p>
					<p>8. انتشار هرگونه محتوا در جهت تحریک ، ترغیب ، تطمیع و یا تهدید افراد به خرید و فروش آراء، رأی دادن با شناسنامه جعلی و شناسنامه دیگری ، جعل اوراق تعرفه ، رأی دادن بیش از یک بار ، تقلب در رأی گیری و شمارش آراء (ماده 33 قانون انتخابات ریاست جمهوری و ماده 126 قانون مجازات اسلامی ).</p>
					<p>9. انتشار هرگونه محتوا به منظور ایجاد رعب و وحشت برای رأی دهندگان یا اعضاء شعب (بند 16 ماده 33 قانون انتخابات ریاست جمهوری و آئین نامه اجرایی آن ) .</p>
					<p>10. استفاده ابزاری از تصاویر اشخاص برای تبلیغات انتخابات ریاست جمهوری ( بند 10 ماده 6 قانون مطبوعات ).</p>
					<p>11. انتشار هرگونه محتوا مشتمل بر توهین، افترا و نشر اکاذیب  علیه  نظام ، قوای سه گانه ، سازمان های حکومتی  و نهادهای اجرایی و نظارتی انتخابات ریاست جمهوری (مواد 500 ، 618 و 609 قانون مجازات اسلامی و بند 8 ماده 6 قانون مطبوعات و ماده 18 قانون جرایم رایانه ای ).</p>
					<p>12. انتشار هرگونه محتوای دارای طبقه بندی (محرمانه و سری ) مرتبط با انتخابات ریاست جمهوری (تبصره 4 ماده 80 قانون انتخابات ریاست جمهوری، ماده 3 قانون مجازات انتشار و افشای اسناد محرمانه و سری دولتی و ماده 3 قانون جرایم رایانه ای و بند 6 ماده 6 قانون مطبوعات ).</p>
					<p>13. انتشار محتوای خلاف واقع در ارتباط با نتایج بررسی صلاحیت ها ، شمارش آراء ، نتایج انتخابات . (مواد 697 و 698 قانون مجازات اسلامی و بند 7ماده 33 و 80 و 85 قانون انتخابات ریاست جمهوری) </p>
					<p>14. انتشار محتوا با هدف دخالت در امر انتخابات با سمت یا سند مجعول یا به هر نحو غیر قانونی در فضای مجازی(بند 15 و 17 ماده 33 و 85 قانون انتخابات ریاست جمهوری ).</p>
					<p>15. انتشار و توزیع هرگونه محتوای تبلیغاتی از سوی کارکنان ادارات ، سازمان ها ، ارگان های دولتی و نهادها با ذکر سمت خود، له یا علیه هر یک از نامزدهای انتخابات ریاست جمهوری درفضای مجازی (مواد 68و 88 قانون انتخابات ریاست جمهوری ).</p>
					<p>16. انتشار و توزیع هرگونه محتوای تبلیغاتی از سوی مقامات اجرایی و نظارتی انتخابات له یا علیه هر یک از نامزدهای انتخابات ریاست جمهوری درفضای مجازی (ماده 73 قانون انتخابات ریاست جمهوری ).</p>
					<p>ظ ) سایر محتوای غیر مجاز</p>
					<p>1.	پیامهایی که متضمن ارتکاب جرم اعم از توهین ، افترا ، نشر اکاذیب و .... باشد . </p>.
					<p>2.	پیامهایی که حاوی اطلاعاتی است که انتشار آنها موجب خدشه دار شدن امنیت ملی ، تشويش اذهان عمومي و یا مغایر با نظم عمومی تلقی گردد .</p>
					<p>3.	پیامهایی که موجب تخریب و یا هتک حرمت اشخاص حقیقی و حقوقی شود   </p>
					<p>4.	تبلیغ نام و خدمات سایر اپراتورها</p>
					<p>5.	انتقال محتوا خدمات ارزش افزوده که در موضوع قرارداد آن شرکت مجاز به ارائه آن نمی باشد.</p>
					<p>6.	انتقال محتواهای مربوط به کالاها و خدمات ممنوعه، غیر قانونی و غیر مجاز </p>
					<p>7.	محتوا های مربوط به جعل اخبار و ارسال اطلاعات غلط </p>
					<p>محتوای مربوط به کالاها و خدمات ممنوعه، غیر قانونی و غیر مجاز که از دستگاهها و سازمانهای ذیربط اعلام گردیده است. ضمنا رعایت قوانین ومقررات، آئین نامه ها و ضوابط سازمان غذا و دارو و محصولات و خدماتی که نیاز به  اخذ مجوزهای لازم  جهت نشر محتوای آن از  معاونت غذا وداروی وزارت بهداشت، وزارت صنعت، معدن و تجارت، سازمان نظام روان شناسی و مشاوره کشور ، سازمان بهزیستی و یا دیگر سازمانهای ذیربط وجود دارد، الزامی است.</p>
</div>
			</div>
		</div>
	</div>		
</section>

<!-- team section -->
<section id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<h1 class="heading bold">تیم سجام</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.9s">
				<div class="team-wrapper">
					<img src="{% static 'images/team1.jpg' %}" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4></h4>
							<h3></h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa wow fadeIn" data-wow-delay="0.3s" target="blank">Telegram</a></li>
							</ul>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- contact section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 text-center">
				<div class="section-title">
					<h1 class="heading bold">تماس با سجام</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-6 col-sm-12 contact-info">
				<h2 class="heading bold">اطلاعات تماس</h2>
				<p>برای پیشنهاد، انتقاد و گزارش تخلف می توانید از شماره ها و ایمیل زیر استفاده کنید</p>
				<div class="col-md-6 col-sm-4">
					<h3><i class="icon-envelope medium-icon wow bounceIn" data-wow-delay="0.6s"></i> ایمیل</h3>
					<p>info@samanehestelam.org</p>
				</div>
				<div class="col-md-6 col-sm-4">
					<h3><i class="icon-phone medium-icon wow bounceIn" data-wow-delay="0.6s"></i> شماره های تماس</h3>
					<p>02189785769</p>
                    <p>02177512507</p>
                    <p>09217883828</p>
                    <p>09336217878</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<form action="/sie/" method="post" class="wow fadeInUp" data-wow-delay="0.6s">
					{% csrf_token %}
					<div class="col-md-6 col-sm-6">
						<input type="text" class="form-control" placeholder="Name" name="name">
					</div>
					<div class="col-md-6 col-sm-6">
						<input type="email" class="form-control" placeholder="Email" name="email">
					</div>
					<div class="col-md-12 col-sm-12">
						<textarea class="form-control" placeholder="Message" rows="7" name="message"></textarea>
					</div>
					<div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
						<input type="submit" class="form-control" value="بفرست">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p>Copyright Sejam 2016</p>
				<hr>
				<ul class="social-icon">
					<li><a href="/goto/facebook" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s" target="_blank"></a></li>
					<li><a href="/goto/twitter" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
					<li><a href="/goto/telegram" class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay="0.9s"></a></li>
					<li><a href="/goto/gplus" class="fa wow fadeIn" data-wow-delay="0.9s">G+</a></li>
					<li><a href="/goto/youtube" class="fa wow fadeIn" data-wow-delay="0.9s">YouTube</a></li>
					<li><a href="/#contact" class="fa wow fadeIn" data-wow-delay="0.9s">GMail</a></li>
					<li><a href="/goto/instagram" class="fa wow fadeIn" data-wow-delay="0.9s">Instagram</a></li>
					<li><a href="/goto/aparat" class="fa wow fadeIn" data-wow-delay="0.9s">Aparat</a></li>
					<li><a href="/goto/lenzor" class="fa wow fadeIn" data-wow-delay="0.9s">Lenzor</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>


<script src="{% static 'js/jquery.js' %}" type='text/javascript'></script>
<script src="{% static 'js/bootstrap.min.js' %}" type='text/javascript'></script>
<script src="{% static 'js/smoothscroll.js' %}" type='text/javascript'></script>
<script src="{% static 'js/isotope.js' %}" type='text/javascript'></script>
<script src="{% static 'js/imagesloaded.min.js' %}" type='text/javascript'></script>
<script src="{% static 'js/nivo-lightbox.min.js' %}" type='text/javascript'></script>
<script src="{% static 'js/jquery.backstretch.min.js' %}" type='text/javascript'></script>
<script src="{% static 'js/wow.min.js' %}" type='text/javascript'></script>
<script src="{% static 'js/custom.js' %}" type='text/javascript'></script>
<script type="text/javascript">
$('#expandRules').click(function(){
        $('#showRules').slideToggle('slow');
    });
	// dropdown hoverable
$('ul.nav li.dropdown').hover(function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(0).fadeIn(0);
}, function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(0).fadeOut(0);
});
</script>

</body>
</html>