{% extends 'general_in/general_in.html' %}

{% block primary %}

<div class="container">
<div class="panel panel-primary center-block" style="max-width:300px">
<div class="panel-heading heading-style">ثبت مشتری با نام</div>
<div class="panel-body" style="background-color:rgb(50,100,200)">

<form action="/gncn/" method="post">
{% csrf_token %}	
	<div class="form-group">
		<label class="control-label" style="color:yellow" >نام</label>
		<input type="text" class="form-control center-block" name="customer_first_name" style="max-width:200px">
	</div>

	<div class="form-group">
		<label class="control-label" style="color:yellow" >فامیل</label>
		<input type="text" class="form-control center-block" name="customer_last_name" style="max-width:200px">
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-danger">جست و جو</button>
        <a href="/gncin/" class="center-block link-style" style="margin-top:10px">ثبت مشتری با کد ملی</a>
	</div>

</form>


</div>
</div>
</div>

{% endblock %}