{% extends 'general_out/general_out.html' %}

{% block primary %}

<div class="section-title">
<h1 style="color:rgb(255, 255, 128); padding-top: 5%;">فرم تعهد نامه ارسال اطلاعات</h1>
</div>

<div style="color: white;" dir="rtl" align="right">

<p align="center">بسمه تعالي</p>
<p>بدینوسیله اینجانب با کد ملی و آدرس  ثبت شده در فایل اطلاعاتی ام در کمال سلامت و با اطلاع به موارد زیر  مسئولیت حقوقی  هر گونه استفاده غیر مجار  را در کلیه اطلاعات وارده و یا گرفته شده از سامانه سجام را به همراه کلیه مسئولیت های حقوقی و حقیقی  مذکور را بر  عهده می گیرد.
 و اعلام میدارد که محتوای تمام پیام های ارسالی با هریک از اصول زیر مطابقت خواهد داشت و باتوجه به اینکه اطلاعات وارده توسط اینجانب باید قابل استناد در دادگاه و مراجع قانونی باشد متعهد میگردم که در نگهداری رمز ورود وکاربری  به سامانه کوشا بوده و در صورت مفقود و یا سرقت سریعا نسبت به مسدود نمودن حساب اقدام نمایم ،و مسئولیت آن به عهده اینجانب میباشد.
وهمچنین در ورود اطلاعات به سامانه نکات ذیل را رعایت و در صورت عدم رعایت کلیه مسئولیت آن را پذیرا باشم. ونسبت به مصادیق جرائم رایانه ای که در پایان این تعهد نامه نوشته شده است اطلاع کامل داشته و ار آن تخلف ننمایم و هر گونه تخطی از قانون یادشده به عهده اینجانب می باشد.</p>
<p>1- اطلاعات وارده با اصول و مباني دين اسلام و قانون اساسي جمهوري اسلامي ايران مغايرت نداشته و در تضاد نباشد</p>
<p>2- باعث تشويش اذهان عمومي نگردد.</p>
<p>3 - مخل نظم و آرامش حاكم بر جامعه نباشد.</p>
<p>4 - به اخلاق حسنه حاكم بر جامعه آسيب نرساند.</p>
<p>5 - با سياست‌هاي فرهنگي، اجتماعي و اقتصادي كشور مغايرت نداشته باشد.</p>
<p>6 - مغایر با اصول انتخاباتی و قوانین حاکم بر جامعه نباشد. </p>
<p>7 - عدم تحريك ، تشويق ، ترغيب ، تهديد یا دعوت به فساد و فحشاء و ارتکاب جرایم منافی عفت یا انحرافات جنسی. ( بند ب ماده 15 قانون جرائم رایانه ای و ماده 639 قانون مجازات اسلامی )</p>
<p>8 - عدم اشاعه فحشاء و منكرات. ( بند2 ماده6 قانون مطبوعات )</p>
<p>9 - عدم انتشار ، توزیع و معامله محتواي خلاف عفت عمومی. ( مبتذل و مستهجن ) ( بند 2 ماده 6 قانون مطبوعات و ماده 14 قانون جرائم رایانه ای )</p>
<p>10 - عدم اهانت به امام خميني ( ره ) و تحريف آثار ايشان ( ماده 514 قانون مجازات اسلامی )</p>
<p>11 - عدم اهانت به مقام معظم رهبري ( امام خامنه ای ) و سایر مراجع مسلم تقليد ( بند 7 ماده 6 قانون مطبوعات )</p>
<p>12 - عدم انتشار محتوا عليه اصول قانون اساسي. ( بند 12 ماده 6 قانون مطبوعات )</p>
<p>13 - عدم فاش نمودن و انتشار غیرمجاز اسرار نيروهاي مسلح. ( بند 6 ماده 6 قانون مطبوعات )</p>
<p>14 - عدم فاش نمودن و انتشار غیرمجاز نقشه و استحكامات نظامي. ( بند 6 ماده 6 قانون مطبوعات )</p>
<p>15 - عدم انتشار هرگونه محتوا با هدف ترغیب و تشویق مردم به تحریم خرید ویا فروش کا لاو یا کاهش مشارکت  فعالیتهای مردمی و در انتخابات (بند 3 و 8 ماده 66 قانون انتخابات مجلس شورای اسلامی و ماده 46 آیین نامه اجرایی آن)</p>
<p>16 - مشترک موظف است براي اعلان بدهی های بالای0 5 ميليون   با مدیریت هما هنگی نمايد.</p>
<p>17 - مشترک موظف است برای حفظ شان مسئولین نظام بدون ذکر عنوان شغلی  وتحت عنوان فقط نام و نام خانوادگی  به میزان خوش حسابی و یا یدحسابی مشتری اعلان نماید.</p>
<p>18- مشترک موظف است فقط از  نام تجاری و یا فروشگاه  و یا صنف خود جهت اعلان وضعیت حساب مشتری  استفاده نماید و مجاز به استفاده تبلیغات و یا هرگونه تشویق  به مصرف کالای خاصی  نمی باشد.</p>
<p>19- مشترک سامانه در توضیحات وضعیت معامله مجاز به هیچگونه  اهانت و یا توهین نبوده و در صورت استفاده، حساب کاربری اشان بلوکه و به مقامات قضا یی معرفی میگردند </p>
<p>20 - مشترک در ارسال پيام‌ها نبايد از عنوانهای هاي فريبنده  جهت مخفي نمودن هويت فرستنده استفاده نمايد و همچنين نبايد از عناوين موضوعي اشتباه يا گمراه‌كننده استفاده نمايد.</p>
<p>21 - مشترک مسئولیت  بررسی و  تایید  احراز  هویت  تمامی  مشتریان و معاوله کنندگان را برعهده دارد و در صورت بروز  هرگونه  مشگل  کلیه عواقب و آثار احتمالی برمشترک سامانه بوده و  تضمین می نماید خسارات وارده را جبران خواهد نمود.</p>
<p>22 - نظر به ابلاغیه شورای عالی امنیت کشور مبنی بر تمهیدات و تدابیر لازم در خصوص جلوگیری از اقدامات تفرقه افکنانه و اهانت به مقدسات اهل سنت ،و کلیه اقلیتهای مذهبی مقتضی است نسبت به انجام تمهیدات و تدابیر لازمه  توسط مشترک سامانه جهت کنترل و ممیزی محتوا و جلوگیری از ارسال محتوای پیامهای ارسالی و سرویس های سامانه مربوط جلوگیری  شود </p>
<p>23- مشترک سامانه متعهد  می گردد  در برابر هرگونه اعتراض و ادعای احتمالی مشترکین یا اشخاص ثالث در خصوص محتوای اطلاعات ارسالی یا پیامدهای ناشی از نشر آنها پاسخگو بوده و  در برابر مراجع مربوطه و دستگاههای بازرسی و نظارتی متعهد و مسئول می باشد و همچنین مسئولیت ممیزی محتوای پیام های ارسالی در سامانه  را بر عهده دارد.
اینجانب مسئولیت اجرای تمام فهرست مصادیق محتوای موضوع ماده 21 قانون جرائم رایانه ای را به عهده می گیرم و تعهد می کنم تمام موارد را به شرح ذیل رعایت نمایم.</p>
<p>فهرست مصاديق محتوای مجرمانه موضوع ماده 21 قانون جرايم رايانه اي</p>
<p> الف ) محتوا علیه عفت و اخلاق عمومی</p>
<p>1. اشاعه فحشاء و منكرات. ( بند2 ماده6 قانون مطبوعات ) 	</p>
<p>2. تحريك ، تشويق ، ترغيب ، تهديد یا دعوت به فساد و فحشاء و ارتکاب جرایم منافی عفت یا انحرافات جنسی. ( بند ب ماده 15 قانون جرائم رایانه ای و ماده 639  قانون مجازات اسلامی )   </p>
<p>3. انتشار ، توزیع و معامله محتواي خلاف عفت عمومی. ( مبتذل و مستهجن )  ( بند 2 ماده 6 قانون مطبوعات و ماده 14 قانون جرائم رایانه ای ) </p>
<p>4. تحريك ، تشويق ، ترغيب ، تهديد يا تطميع افراد به دستيابي به محتويات مستهجن و مبتذل. (  ماده 15 قانون جرایم رایانه ای ) </p>
<p>5. استفاده ابزاري از افراد ( اعم از زن و مرد ) در تصاوير و محتوا ، تحقير و توهين به جنس زن ، تبليغ تشريفات و تجملات نامشروع و غيرقانوني. ( بند 10 ماده6 قانون مطبوعات )</p>
<p> ب ) محتوا علیه مقدسات اسلامی</p>
<p>1. محتواي الحادي و مخالف موازين اسلامي ( بند1ماده6 قانون مطبوعات )</p>
<p>2. اهانت به دين مبين اسلام و مقدسات آن ( بند 7 ماده 6 قانون مطبوعات و ماده 513 قانون مجازات اسلامی )</p>
<p>3. اهانت به هر یک از انبیاء عظام یا ائمه طاهرین ( ع ) یا حضرت صدیقه طاهره ( س ) (  ماده 513  قانون مجازات اسلامی )</p>
<p>4. تبليغ به نفع حزب گروه يا فرقه منحرف و مخالف اسلام ( بند 9 ماده 6 قانون مطبوعات ) </p>
<p>5. نقل مطالب از نشریات و رسانه ها و احزاب و گروه هاي داخلی و خارجی منحرف و مخالف اسلام به نحوي كه تبليغ از آنها باشد. ( بند 9 ماده 6 قانون مطبوعات )</p>
<p>6. اهانت به امام خميني ( ره ) و تحريف آثار ايشان ( ماده 514  قانون مجازات اسلامی )</p>
<p>7. اهانت به مقام معظم رهبري ( امام خامنه ای ) و سایر مراجع مسلم تقليد ( بند 7 ماده 6 قانون مطبوعات )</p>
 <p>ج ) محتوا علیه امنیت و آسایش عمومی</p>
<p>1. تشكيل جمعيت ، دسته ، گروه در فضای مجازی ( سایبر ) با هدف برهم زدن امنيت كشور. ( ماده 498  قانون مجازات اسلامی )</p>
<p>2. هر گونه تهديد به بمب گذاري. ( ماده 511  قانون مجازات اسلامی  )</p>
<p>3. محتوايي كه به اساس جمهوري اسلامي ايران لطمه وارد كند. ( بند 1 ماده 6 قانون مطبوعات  )</p>
<p>4. انتشار محتوا عليه اصول قانون اساسي. ( بند 12 ماده 6 قانون مطبوعات )  </p>
<p>5. تبليغ عليه نظام جمهوري اسلامي ايران. ( ماده 500  قانون مجازات اسلامی  ) </p>
<p>6. اخلال در وحدت ملی و ايجاد اختلاف مابين اقشار جامعه به ويژه از طريق طرح مسائل نژادي و قومي. ( بند 4 ماده 6 قانون مطبوعات )</p>
<p>7. تحريك يا اغواي مردم به جنگ و كشتار يكديگر. ( ماده 512  قانون مجازات اسلامی  )</p>
<p>8. تحريك نيروهاي رزمنده يا اشخاصي كه به نحوي از انحا در خدمت نيروهاي مسلح هستند به عصيان ، فرار، تسلم يا عدم اجراي وظايف نظامي. ( ماده 504  قانون مجازات اسلامی  )</p>
<p>9. تحريص و تشويق افراد و گروه ها به ارتكاب اعمالي عليه امنيت ، حيثيت و منافع جمهوري اسلامي ايران در داخل يا خارج از كشور. ( بند 5 ماده 6 قانون مطبوعات )</p>
<p>10. تبليع به نفع گروه ها و سازمانهاي مخالف نظام جمهوري اسلامي ايران ( ماده 500 ق م.ا )</p>
<p>11. فاش نمودن و انتشار غیرمجاز اسناد و دستورها و مسايل محرمانه و سري دولتي و عمومي. ( بند 6 ماده 6 قانون مطبوعات و مواد 2و3 ‌قانون مجازات انتشار و افشاي اسناد محرمانه و سري دولتي و ماده 3 قانون جرائم رایانه ای )</p>
<p>12. فاش نمودن و انتشار غیرمجاز اسرار نيروهاي مسلح. ( بند 6 ماده 6 قانون مطبوعات )</p>
<p>13. فاش نمودن و انتشار غیرمجاز نقشه و استحكامات نظامي. ( بند 6 ماده 6 قانون مطبوعات )</p>
<p>14. انتشار غیرمجاز مذاكرات غيرعلني . ( بند 6 ماده 6 قانون مطبوعات )</p>
<p>15. انتشار بدون مجوز مذاكرات محاكم غيرعلني دادگستري و تحقيقات مراجع قضايي. ( بند 6 ماده 6 قانون مطبوعات )</p>
<p>16. انتشار محتوای که از سوی شورای عالی امنیت ملی منع شده باشد. </p>
<p> د ) محتوا علیه مقامات و نهادهای دولتی و عمومی</p>
<p>1. اهانت و هجو نسبت به مقامات ، نهادها و سازمان هاي حکومتی و عمومي. ( بند 8 ماده 6 قانون مطبوعات و مواد 609 و 700  قانون مجازات اسلامی )</p>
<p>2. افترا به مقامات ، نهادها و سازمان های حکومتی و عمومي. ( بند 8 ماده 6 قانون مطبوعات و 697  قانون مجازات اسلامی )</p>
<p>3. نشراكاذيب و تشويش اذهان عمومي علیه مقامات ، نهادها و سازمانهای حکومتی. ( بند 11 ماده6 قانون مطبوعات و 698  قانون مجازات اسلامی ) </p>
<p>4. جعل پایگاه های اینترنتی بانک ها ، سازمان ها و نهادهای دولتی و عمومی (مواد 6 و 7 قانون جرایم رایانه ای مصوب سال 1388) </p>
 <p>ه ) محتوای که برای ارتکاب جرایم رایانه ای به کار می رود ( محتوا مرتبط با جرایم رایانه ای )</p>
<p>1. انتشار يا توزيع و در دسترس قرار دادن يا معامله داده ها يا نرم افزارهایي كه صرفاً براي ارتكاب جرايم رايانه اي به كار مي رود. ( ماده 25 قانون جرائم رایانه ای )</p>
<p>2. فروش انتشار يا در دسترس قرار دادن غيرمجاز گذرواژه ها و داده هايي كه امكان دسترسي غيرمجاز به داده ها يا سامانه هاي رايانه اي يا مخابراتي دولتي يا عمومي را فراهم مي كند. ( ماده 25 قانون جرائم رایانه ای )</p>
<p>3. انتشار يا در دسترس قرار دادن محتويات آموزش دسترسي غيرمجاز ، شنود غيرمجاز ، جاسوسي رايانه اي ، تحريف و اخلال در داده ها يا سيستم هاي رايانه اي و مخابراتي. ( ماده 25 قانون جرائم رایانه ای )</p>
<p>4. آموزش و تسهیل ساير جرايم رايانه اي. ( ماده 21 قانون جرائم رایانه ای )</p>
<p>5. انتشار فيلترشكن ها و آموزش روشهاي عبور از سامانه هاي فيلترينگ. ( بند ج ماده 25 قانون جرائم رایانه ای )</p>
<p>6. انجام هرگونه فعاليت تجاري و اقتصادي رايانه اي مجرمانه مانند شركت هاي هرمي. ( قانون اخلال در نظام اقتصادی کشور و سایر قوانین )</p>
<p>7. ایجاد مراکز قمار در فضای مجازی (مواد 705، 708 و 710 قانون مجازات اسلامی) </p>
<p> و ) محتوای که تحریک ، ترغیب ، یا دعوت به ارتکاب جرم می کند ( محتوای مرتبط با سایر جرایم )</p>
<p>1.	انتشار محتوای حاوی تحریک ، ترغیب ، یا دعوت به اعمال خشونت آمیز و خودکشی. ( ماده 15 قانون جرائم رایانه ای )</p>
<p>2. تبليغ و ترويج مصرف مواد مخدر ، مواد روان گردان و سيگار. ( ماده 3 قانون جامع كنترل و مبارزه ملي با دخانيات 1385 )</p>
<p>3. درج پیوند (لینک) یا تبلیغ تارنماهای فیلتر شده یا باز انتشار محتوای مجرمانه نشریات توقیف شده و رسانه های وابسته به گروه‌ها و جریانات منحرف و غیر قانونی.</p>
<p>4. تشويق تحریک و تسهیل ارتكاب جرائمي كه داراي جنبه عمومي هستند از قبیل اخلال در نظم ،‌ تخريب اموال عمومي ، ارتشاء ، اختلاس ،كلاهبرداري ، قاچاق مواد مخدر، قاچاق مشروبات الكلي و غيره. ( ماده 126  قانون مجازات اسلامی )</p>
<p>5. تبليغ و ترويج اسراف و تبذير. ( بند 3 ماده 6 قانون مطبوعات ) </p>
<p>6. فروش، تبلیغ، توزیع و آموزش استفاده از تجهیزات دریافت از ماهواره (ماده 1 قانون ممنوعیت بکارگیری تجهیزات دریافت ماهواره مصوب 25/11/1373) </p>
<p> ز ) محتوا مجرمانه مربوط به امور سمعی و بصری و مالکیت معنوی</p>
<p>1. انتشار و سرويس دهي بازي هاي رايانه اي داراي محتواي مجرمانه. ( مواد مختلف  قانون مجازات اسلامی و قانون جرائم رایانه ای )</p>
<p>2. معرفی آثار سمعی و بصری غیرمجاز به جای آثار مجاز. ( ماده 1 قانون نحوه مجازات اشخاصی که در امور سمعی و بصری فعالیت غیرمجاز دارند ) </p>
<p>3. عرضه تجاری آثار سمعی و بصری بدون مجوز وزارت فرهنگ و ارشاد اسلامی ( ماده 2 قانون نحوه مجازات اشخاصی که در امور سمعی و بصری فعالیت غیر مجاز دارند ) </p>
<p>4. تشویق و ترغیب به نقض حقوق مالکیت معنوی ( ماده 1 قانون حمایت از حقوق پدید آورندگان نرم افزار های رایانه ای و ماده 74 قانون تجارت الکترونیکی )</p>
<p> ح) محتوای مجرمانه مرتبط با انتخابات مجلس شورای اسلامی </p>
<p>1. انتشار هرگونه محتوا با هدف ترغیب و تشویق مردم به تحریم و یا کاهش مشارکت در انتخابات (بند 3 و 8 ماده 66 قانون انتخابات مجلس شورای اسلامی و ماده 46 آیین نامه اجرایی آن)</p>
<p>2. انتشار هرگونه ادعای غیرواقع مبنی بر توقف انتخابات و یا دعوت به تجمع اعتراض‌آمیز‌، اعتصاب‌، تحصن و هر اقدامی که به نحوی موجب اخلال در امر انتخابات گردد (بند 8 ماده 66 قانون انتخابات مجلس شورای اسلامی)</p>
<p>3. انتشار و تبلیغ علائم تحریم انتخابات گروه‌های ضد‌انقلاب و معاند (ماده 500 قانون مجازات اسلامی)</p>
<p>4. انتشار هجو یا هجویه و یا هرگونه محتوای توهین‌آمیز در فضای مجازی علیه انتخابات (ماده 700 قانون مجازات اسلامی و بند 8 ماده 66 قانون انتخابات مجلس شورای اسلامی)</p>
<p>5. انتشار هرگونه مطلب خلاف واقع مبنی بر انصراف گروه‌های قانونی از انتخابات (ماده 64 قانون انتخابات مجلس شورای اسلامی)</p>
<p>6. استفاده از سایت‌ها و وبلاگ‌های رسمی نهادها و دستگاه‌های دولتی جهت بهره‌برداری در تبلیغات نامزدهای انتخاباتی.</p>
<p>** شایان ذکر است تمامی شرکت‌ها‌، موسسات‌، شهرداری‌ها‌، سازمان‌ها و نهادهایی که قسمتی از دارایی آنها جزء بودجه و اموال عمومی است مشمول این ماده می‌شوند. (ماده 59 قانون انتخابات مجلس شورای اسلامی)</p>
<p>7. درج محتوای تبلیغاتی نامزدهای انتخاباتی خارج از مدت زمان مقرر شده برای فعالیت انتخاباتی. (ماده 56 قانون قانون انتخابات مجلس شورای اسلامی و ماده 45 آیین‌نامه اجرایی آن)</p>
<p>8. انتشار هرگونه محتوا در جهت تحریک‌، ترغیب‌، تطمیع و یا تهدید افراد به خرید و فروش آراء‌، رای دادن با شناسنامه جعلی و شناسنامه دیگری‌، جعل اوراق تعرفه‌، رای دادن بیش از یک‌بار و سایر روش‌های تقلب در رای‌گیری و شمارش آراء. (ماده 66 قانون انتخابات مجلس شورای اسلامی و ماده 126 قانون مجازات اسلامی)</p>
<p>9. انتشار هرگونه محتوا جهت ایجاد رعب و وحشت برای رای‌دهندگان یا اعضاء شعب. (بند 16 ماده 66 قانون انتخابات مجلس شورای اسلامی)</p>
<p>10. استفاده ابزاری از تصاویر زنان برای تبلیغات انتخاباتی و یا عدم رعایت شئونات اسلامی در انتشار تصاویر مربوط به زنانی که نامزد انتخاباتی می‌باشند. (بند 10 ماده 6 قانون مطبوعات)</p>
<p>11. انتشار هرگونه محتوا در جهت توهین‌، افترا و نشر اکاذیب با هدف تخریب نظام‌، قوای سه‌گانه‌، سازمان‌های حکومتی و نهادهای اجرایی و نظارتی انتخابات به منظور بهره‌برداری انتخاباتی. (مواد 500 ، 698 ، 609 قانون مجازات اسلامی و بند 8 ماده 6 قانون مطبوعات و ماده 18 قانون جرایم رایانه‌ای)</p>
<p>12. انتشار هرگونه محتوا و مکاتبات دارای طبقه‌بندی (محرمانه و سری) مرتبط با انتخابات‌.(ماده 3 قانون مجازات انتشار و افشای اسناد محرمانه و سری دولتی و ماده 3 قانون جرایم رایانه‌ای و بند 6 ماده 6 قانون مطبوعات)</p>
<p>13. انتشار اخبار کذب از نتایج بررسی صلاحیت‌ها‌، شمارش آراء‌، ادعاهای بی‌اساس پیرامون تقلب در انتخابات یا مخدوش بودن انتخابات بدون دلیل و مدرک. (مواد 697 و 698 قانون مجازات اسلامی و بند 8 ماده 66 قانون انتخابات مجلس شورای اسلامی)</p>
<p> ط ) محتوای مجرمانه مرتبط با انتخابات ریاست جمهوری </p>
<p>1.  انتشار هرگونه محتوا به منظور ترغیب و تشویق مردم به تحریم و یا کاهش مشارکت در انتخابات ، تجمع اعتراض آمیز بدون مجوز ، اعتصاب ، تحصن ، ادعای غیرواقع مبنی بر توقف انتخابات و یا هر اقدامی که به نحوی موجب اخلال در امر انتخابات ریاست جمهوری گردد.(بند 7 ماده 33 قانون انتخابات ریاست جمهوری و بند5 ماده 6 و 25 قانون مطبوعات ).</p>
<p>2. تشویش اذهان عمومی ، سیاه نمایی و بیان مطالب خلاف واقع علیه کشور ،  ایجاد اختلافات مابین اقشار جامعه بویژه از طریق طرح مسائل قومی و نژادی ، انتشارهرگونه  نتایج نظرسازی و نظرسنجی کاذب در خصوص انتخابات و نامزدهای انتخابات ریاست جمهوری(بند7 مادة 33 قانون انتخابات ریاست جمهوری– مواد500 و  698 قانون مجازات اسلامی – بند 4 مادة 6 قانون مطبوعات- مصوبه شورایعالی امنیت ملی)</p>
<p>3.   انتشار و تبلیغ علائم تحریم انتخابات (ماده 500 قانون مجازات اسلامی).</p>
<p>4. انتشار هجو یا هجویه و یا هر گونه محتوای توهین آمیز یا تخریب در فضای مجازی علیه انتخابات و نامزدهای انتخابات ریاست جمهوری ( ماده 700 قانون مجازات اسلامی) .</p>
<p>5. انتشار هرگونه مطلب ،علیه نامزدهای انتخاباتی و یا انتشارمطالبی خلاف واقع دال بر انصراف گروه یا نامزدهای انتخابات ریاست جمهوری (مواد 74 و 91 قانون انتخابات ریاست جمهوری اسلامی). </p>
<p>6. استفاده غیرمجاز از سایت ها و وبلاگ های متعلق به دستگاه های دولتی و مؤسسات و نهادهایی که تمام یا  بخشی از دارایی و بودجه آنها از اموال عمومی است ، به منظور تبلیغ له یا علیه نامزدهای انتخابات ریاست جمهوری (مواد62 ، 68 و 88 قانون انتخابات ریاست جمهوری).</p>
<p>7. انتشار محتوای تبلیغاتی نامزدهای ریاست جمهوری در فضای مجازی خارج از مدت زمان مقرر برای فعالیت انتخاباتی (مواد 66 و 67 قانون انتخابات ریاست جمهوری ).</p>
<p>8. انتشار هرگونه محتوا در جهت تحریک ، ترغیب ، تطمیع و یا تهدید افراد به خرید و فروش آراء، رأی دادن با شناسنامه جعلی و شناسنامه دیگری ، جعل اوراق تعرفه ، رأی دادن بیش از یک بار ، تقلب در رأی گیری و شمارش آراء (ماده 33 قانون انتخابات ریاست جمهوری و ماده 126 قانون مجازات اسلامی ).</p>
<p>9. انتشار هرگونه محتوا به منظور ایجاد رعب و وحشت برای رأی دهندگان یا اعضاء شعب (بند 16 ماده 33 قانون انتخابات ریاست جمهوری و آئین نامه اجرایی آن ) .</p>
<p>10. استفاده ابزاری از تصاویر اشخاص برای تبلیغات انتخابات ریاست جمهوری ( بند 10 ماده 6 قانون مطبوعات ).</p>
<p>11. انتشار هرگونه محتوا مشتمل بر توهین، افترا و نشر اکاذیب  علیه  نظام ، قوای سه گانه ، سازمان های حکومتی  و نهادهای اجرایی و نظارتی انتخابات ریاست جمهوری (مواد 500 ، 618 و 609 قانون مجازات اسلامی و بند 8 ماده 6 قانون مطبوعات و ماده 18 قانون جرایم رایانه ای ).</p>
<p>12. انتشار هرگونه محتوای دارای طبقه بندی (محرمانه و سری ) مرتبط با انتخابات ریاست جمهوری (تبصره 4 ماده 80 قانون انتخابات ریاست جمهوری، ماده 3 قانون مجازات انتشار و افشای اسناد محرمانه و سری دولتی و ماده 3 قانون جرایم رایانه ای و بند 6 ماده 6 قانون مطبوعات ).</p>
<p>13. انتشار محتوای خلاف واقع در ارتباط با نتایج بررسی صلاحیت ها ، شمارش آراء ، نتایج انتخابات . (مواد 697 و 698 قانون مجازات اسلامی و بند 7ماده 33 و 80 و 85 قانون انتخابات ریاست جمهوری) </p>
<p>14. انتشار محتوا با هدف دخالت در امر انتخابات با سمت یا سند مجعول یا به هر نحو غیر قانونی در فضای مجازی(بند 15 و 17 ماده 33 و 85 قانون انتخابات ریاست جمهوری ).</p>
<p>15. انتشار و توزیع هرگونه محتوای تبلیغاتی از سوی کارکنان ادارات ، سازمان ها ، ارگان های دولتی و نهادها با ذکر سمت خود، له یا علیه هر یک از نامزدهای انتخابات ریاست جمهوری درفضای مجازی (مواد 68و 88 قانون انتخابات ریاست جمهوری ).</p>
<p>16. انتشار و توزیع هرگونه محتوای تبلیغاتی از سوی مقامات اجرایی و نظارتی انتخابات له یا علیه هر یک از نامزدهای انتخابات ریاست جمهوری درفضای مجازی (ماده 73 قانون انتخابات ریاست جمهوری ).</p>
<p>ظ ) سایر محتوای غیر مجاز</p>
<p>1.	پیامهایی که متضمن ارتکاب جرم اعم از توهین ، افترا ، نشر اکاذیب و .... باشد . </p>.
<p>2.	پیامهایی که حاوی اطلاعاتی است که انتشار آنها موجب خدشه دار شدن امنیت ملی ، تشويش اذهان عمومي و یا مغایر با نظم عمومی تلقی گردد .</p>
<p>3.	پیامهایی که موجب تخریب و یا هتک حرمت اشخاص حقیقی و حقوقی شود   </p>
<p>4.	تبلیغ نام و خدمات سایر اپراتورها</p>
<p>5.	انتقال محتوا خدمات ارزش افزوده که در موضوع قرارداد آن شرکت مجاز به ارائه آن نمی باشد.</p>
<p>6.	انتقال محتواهای مربوط به کالاها و خدمات ممنوعه، غیر قانونی و غیر مجاز </p>
<p>7.	محتوا های مربوط به جعل اخبار و ارسال اطلاعات غلط </p>
<p>محتوای مربوط به کالاها و خدمات ممنوعه، غیر قانونی و غیر مجاز که از دستگاهها و سازمانهای ذیربط اعلام گردیده است. ضمنا رعایت قوانین ومقررات، آئین نامه ها و ضوابط سازمان غذا و دارو و محصولات و خدماتی که نیاز به  اخذ مجوزهای لازم  جهت نشر محتوای آن از  معاونت غذا وداروی وزارت بهداشت، وزارت صنعت، معدن و تجارت، سازمان نظام روان شناسی و مشاوره کشور ، سازمان بهزیستی و یا دیگر سازمانهای ذیربط وجود دارد، الزامی است.</p>

</div>

{% endblock %}